<div class="dropdown">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">My Account</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-action="Login" asp-controller="Account">
            <i class="fas fa-sign-in-alt"></i>Log in
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-action="Register" asp-controller="Account">
            <i class="fas fa-user-plus"></i>Create Account
        </a>
    </div>
</div>


