<vc:shopping-cart></vc:shopping-cart>
<div class="nav-item dropdown">
    <a class="btn dropdown-toggle text-white" href="#" data-toggle="dropdown">
        @User.Identity.Name
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item " asp-action="Index" asp-controller="Account">
            <i class="fas fa-user-alt"></i>My Account
        </a>
        <div class="dropdown-divider"></div>
        <form method="post">
            <button class="dropdown-item" type="submit" asp-action="Logout" asp-controller="Account">
                <i class="fas fa-sign-out-alt"></i>Log Out
            </button>
        </form>
    </div>
</div>


