@{
    ViewData["Title"] = "Empty";
}

<div class="shopping-cart-wrapper">
    <h1>Your shopping cart is empty</h1>
    <hr />
    <p>click <a asp-action="Index" asp-controller="Home">here</a>, to continue shopping</p>
</div>