/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-navbar, .main-footer {
    background-color: rgb(45,45,45) /*light black*/;
}

    .main-navbar .dropdown .btn {
        color: white;
    }

.main-container{
    padding-top:20px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: black;
}

    a:hover, .basket-quantity {
        color: rgb(135,200,255);/*blue*/
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: white;
}

nav a{
    color:white;
}

/* Sticky footer styles
-------------------------------------------------- */

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html{
    min-height:100%;
}

html, body {
   height:100%;

}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    overflow: auto;
}

ul li {
    list-style: none;
}

ul li i, button i, a i {
    margin-right: 10px;
}

.universal-market-logo {
    background-image: url(/images/universalmarket-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 70px;
}
.custom-validation-summary {
    margin-bottom: 20px;
    line-height: 20px;
    color: red
}

    .custom-validation-summary ul {
        padding-left: 20px;
    }

/*my account css*/
.account-main-side-navigation-section {
    width: 16%;
    float: left;
}
    .account-main-side-navigation-section ul li a {
       
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #e7e7e7;
        font-size: 13px;
        line-height: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left:10px;
    }

.account-main-content-section {
    float: left;
    width: 84%;
    padding-left: 50px;
}

.account-card.card {
    margin-top: 10px;
    border: none;
    background: rgba(9,85,135,.2);
}

.account-card .card-header {
    background-color: rgba(9,85,135,.5);
    padding: 20px 10px;
}

    .account-card .card-header h2 {
        font-size: 25px;
        color: black;
        text-transform: uppercase;
    }

    .account-card .card-header a {
        float: right;
        font-size: 22px;
        color: black;
    }

        .account-card .card-header a:hover {
            color: #0366d6;
        }


    .account-card .card-body .row {
        padding-top: 10px;
    }

    .account-card .card-body .balance {
        font-size: 30px;
        color: darkgreen;
    }

    .account-card .card-body label{
        color:rgba(0,0,0,0.5);
    }
.home-page .card{

}
    .home-page .card .card-footer a {
        margin-left: 10px;
    }