@model DetailsAccountViewModel
@{
    ViewData["Title"] = "Account Home Page";
}

<section class="account-main-side-navigation-section">
    <ul>
        <li>
            <a id="details-link" href="#"><i class="fas fa-user"></i>Account details</a>
        </li>
        <li>
            <a id="edit-link" href="#"><i class="fas fa-user-cog"></i>Settings</a>
        </li>
        <li>
            <a id="my-account" href="#"><i class="fas fa-shopping-cart"></i>My Purchases</a>
        </li>
        <li>
            <a id="my-account" href="#"><i class="fas fa-heart"></i>Favorite products</a>
        </li>
        <li>
            <a id="my-account" asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i>Home Page</a>
        </li>
    </ul>
</section>
<section class="account-main-content-section">
    <partial name="_DetailsPartial" model="@Model" />
</section>

<script>
        var detailUrl = "@Url.Action("Details","Account")";
        var editUrl = "@Url.Action("Edit","Account")";
        var content = ".account-main-content-section";

        $("#details-link").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: detailUrl,
                success: function (result) {
                    $(content).html(result);
                }
            })
        })

        $("#edit-link").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: editUrl,
                success: function (result) {
                    $(content).html(result);
                }
            })
        })
</script>



