@model DetailsAccountViewModel
@{
    ViewData["Title"] = "Account Home Page";
}
<link rel="stylesheet" href="~/css/sidebar.css"/>

<div class="wrapper">

    <!--sidebar -->
    <div class="sidebar">

        <!-- links -->
        <a id="details-link" href="#">
            <i class="fas fa-user"></i>Account details
        </a>
        <a id="edit-link" href="#">
            <i class="fas fa-user-cog"></i>Settings
        </a>
        <a id="my-account" href="#">
            <i class="fas fa-shopping-cart"></i>My Purchases
        </a>
        <a id="my-account" href="#">
            <i class="fas fa-heart"></i>Favorite products
        </a>
        <a id="my-account" asp-action="Index" asp-controller="Home">
            <i class="fas fa-home"></i>Home Page
        </a>
    </div>

    <!--sidebar-content -->
    <div class="sidebar-content">
        <partial name="_DetailsPartial" model="@Model" />
    </div>
</div>


<script>
        var detailUrl = "@Url.Action("Details","Account")";
        var editUrl = "@Url.Action("Edit","Account")";
        var content = ".sidebar-content";

        $("#details-link").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: detailUrl,
                success: function (result) {
                    $(content).html(result);
                }
            })
        })

        $("#edit-link").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: editUrl,
                success: function (result) {
                    $(content).html(result);
                }
            })
        })
</script>



