@model LoginViewModel
@{
    ViewData["Title"] = "User Login";
}
<link rel="stylesheet" href="~/css/Login.css">
<link rel="stylesheet" href="~/css/FadeInAnimation.css" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Logo -->
        <div class="logo"></div>

        <!-- Tabs Titles -->
        <a class="tab active "> Sign In </a>
        <a class="tab inactive underlineHover " asp-action="Register" asp-controller="Account">Sign Up</a>

        <!-- Login Form -->
        <form method="post">
            <div asp-validation-summary="All" class="custom-validation-summary"></div>
            <input type="text"  class="fadeIn second" asp-for="@Model.UserName" placeholder="Login">
            <input type="password" asp-for="@Model.Password" class="fadeIn third" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Footer -->
        <div id="formFooter">
            <a class="underlineHover" asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
        </div>

    </div>
</div>
