<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Market</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
        <header>
            <nav class="navbar main-navbar navbar-expand-sm">
                <div class="container col-11">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/universalmarket-logo.png" height="45" width="120">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse">
                        <div class="navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Create">Create Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav">                    
                        <vc:login></vc:login>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container main-container">
                @RenderBody()
        </main>
        @RenderSection("Scripts", required: false)
</body>
</html>
