@using Microsoft.AspNetCore.Identity
@inject SignInManager<AspNetUsers> signInManager

@{
    var displayText = "My Account";
}

    <div class="navbar">
        @if (signInManager.IsSignedIn(User))
        {
            displayText = User.Identity.Name;
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-shopping-basket"></i></a>
        }

        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                @displayText
            </a>
            <div class="dropdown-menu">
                @if (signInManager.IsSignedIn(User))
                {
                    <a class="dropdown-item" asp-action="Login" asp-controller="Account">
                        <i class="fas fa-user-alt"></i>My Account
                    </a>
                    <div class="dropdown-divider"></div>
                    <form method="post">
                        <button class="dropdown-item" type="submit" asp-action="Logout" asp-controller="Account">
                            <i class="fas fa-sign-out-alt"></i>Log Out
                        </button>
                    </form>
                }
                else
                {
                    <a class="dropdown-item" asp-action="Login" asp-controller="Account">
                        <i class="fas fa-sign-in-alt"></i>Log in
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Register" asp-controller="Account">
                        <i class="fas fa-user-plus"></i>Create Account
                    </a>
                }
            </div>
        </div>
    </div>

