@model EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}

    <div class="bg-white-wrapper">
        <h1>Edit Product</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="@Model.QualityId" asp-items="@Model.QualityList">
                    <option>Select Quality</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Save</button>
            </div>
        </form>
        <div>
            <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
        </div>
    </div>